@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Alumni Sans SC", sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #222;
    font-family: "Alumni Sans SC", sans-serif;
}
.header {
    width: 100%;
    height: 100px;
 
    top: 0;
    left: 0;
    z-index: 9;
    .inner {
        max-width: 1280px;
        width: calc(100% - 40px);
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        // color: #fff;
        font-size: 32px;
    }

    .nav {
        ul {
            display: flex;
            gap: 40px;
            li {
                // color: #fff;
                font-size: 20px;
            }
        }
    }
}
 
.footer {
    padding: 40px;
    border-top: 1px solid #444;
    font-size: 20px;
}

